= form_for @complaint do |f|
  -if @complaint.errors.any?
    %div{:class => "alert alert-error"}
      %h2= "#{pluralize(@complaint.errors.count, "error")} prohibited this complaint from being saved:"
      %ul
        - @complaint.errors.full_messages.each do |msg|
          %li= msg

  %form
    %fieldset 
      = render :partial => "vehicle_form", :locals => {:f => f}

  %form
    %fieldset
      =render :partial => "complaint_form" , :locals => {:f => f}

  %form
    %fieldset 
      = render :partial => "user_form", :locals => {:f => f}
 
  .actions
    = f.submit 'submit',:url => complaints_path,:method => :post ,:class => "btn btn-primary"