= f.fields_for :users do |builder|
  %fieldset
    = builder.label :email_id , "Email id"
    = builder.email_field :email_id 

    = builder.label :address , "Address"
    = builder.text_area :address, size: "30x10" , :style => "width: 369px; height: 119px;" 

    = builder.label :mobile , "Mobile Number"
    = builder.number_field :mobile

