= f.fields_for :vehicle do |builder|
  %fieldset
    = builder.label :vehicle_types , "Mode of Transportation" 
    = builder.select :vehicle_types , [["- Select a Mode-", nil]] + Vehicle.vehicle_types.collect {|p| p}, :id => "vehicle_types"

    = builder.label :number , "Vehicle Number"
    = builder.text_field :number