= form_for @vehicle do |f|
  -if @vehicle.errors.any?
    %div{:class => "alert alert-error"}
      %h2= "#{pluralize(@complaint.errors.count, "error")} prohibited this complaint from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.label :vehicle_types , "Mode of Transportation"
    = f.select :vehicle_types , Vehicle.vehicle_types.collect {|p| p}, :id => "vehicle_types"

    = f.label :number , "Vehicle Number"
    = f.text_field :number

  %form
    %fieldset 
      = f.fields_for :complaints do |builder|
        = builder.label :place_occurence , "Place Where The Incident Happened" ,:class => 'control-label'
        = builder.text_field :place_occurence , :class => 'text_field'

        = builder.label :occurence_date_time ,"Incident Date And  Time"
        = builder.datetime_select :occurence_date_time 
        
        = builder.label :fly_destination, "Refused to go the required destination"
        = builder.check_box :fly_destination

        = builder.label :from_to ,"From-To", :class => 'control-label'
        = builder.text_field :from_to , :placeholder => "Example :Raghuleela Mall - Kandivili station"

        = builder.label :excess_charged
        = builder.check_box :excess_charged

        = builder.label :indecent_behaviour, "Inappropriate Behaviour"
        = builder.check_box :indecent_behaviour

        = builder.label :charged_and_allowed_other_complainant , "Charged fare from other passengers (s) and allowed to travel"
        = builder.check_box :charged_and_allowed_other_complainant

        = builder.label :charged_for_luggage , "Enter the Amount Excessively Charged for Luggage ", :class => 'control-label'
        = builder.text_field :indecent_behaviour , :class => 'text_field'

        = builder.label :from_to , "From-To" ,:class => 'control-label'
        = builder.text_field :from_to , :class => 'text_field', :placeholder => "Example: Ghatkopar Station - Chembur Station"

        .control{:id => "bus_stop",:style => "display:none"}
          = builder.label :bus_stop_name , "Bus Stop  Name where Bus didn't Stop", :class => 'control-label' 
          = builder.text_field :bus_stop_name , :class => 'text_field'

        = builder.label :other_complaints , :class => 'control-label'
        = builder.text_area :other_complaints, size: "30x10" ,:style => "width: 369px; height: 119px;"

    
    .actions
      = f.submit 'Save',:class => "btn btn-primary"

